body {
    font-family: Palatino;
    background-color: aquamarine;
    text-align: center;
  }
  
  li{
    background-color: gold;
    border: 5px;
    border-color: royalblue;
    margin: 20px;
    padding:10px;
    text-align: center;
    min-width: 200px;
  }

  ul{
      list-style: none;
  }

  #hero-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}